{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags staticfiles static %}

{% block meta_title %}GenePattern Analyses{% endblock %}
{% block title %}GenePattern Analyses{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/gpnb-extension.css" %}">
    <style type="text/css">
        #analyses_header {
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block body_class %}no-cover{% endblock %}

{% block extra_head %}
    <script src="{% static "js/gp.js" %}"></script>
    <script src="{% static "js/gp-widget.js" %}"></script>
{% endblock %}

{% block analyses %}

{% block main-content %} 
    {% block content %} {% endblock content %} 
{% endblock main-content %}

    <div class="container main-container" style="margin-top: 150px;">
        <div class="row">
            <div id="analyses">
                <div id="analyses_header">
                    <h1>GenePattern Analyses</h1>
                    <input type="search" placeholder="Search Analyses" class="form-control mod-search" v-model="search" />
                </div>
                <div class="categories d-none">
                    <module-category v-for="c in categories" :category="c"></module-category>
                </div>
                <div class="modules d-none">
                    <module-category v-for="m in modules" :category="m"></module-category>
                </div>
            </div>
        </div>
    </div>

{% block sidebar %} 
{% endblock sidebar %} 

{% block main-container %} 
{% endblock main-container %} 
{% endblock %} 

{% block footer_js %}
    <script type="module">
        // Import the application module
        import * as GenePattern from "/static/js/app.js";

        // Initialize module search/browse
        GenePattern.analyses("#analyses");
    </script>
{% endblock %}