{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}Dashboard{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block extra_css %}
    <style type="text/css">
        .show-all {
            line-height: 48px;
        }
    </style>
{% endblock %}

{% block body_class %}no-cover{% endblock %}

{% block main %}
    <div id="vue">
        <h1>Your Notebooks</h1>
        <div class="card login-card">
            <a class="btn btn-lg btn-primary">Login</a> <a class="btn btn-lg btn-secondary">Register</a>
        </div>

        <notebook-carousel header="Tutorial Notebooks" v-bind:nblist="tutorial_notebooks"></notebook-carousel>
        <notebook-carousel header="Public Notebooks" v-bind:nblist="notebooks"></notebook-carousel>
        <notebook-carousel header="Analyses" v-bind:nblist="modules"></notebook-carousel>

        <h1>Shared Notebooks</h1>
        <div class="card login-card">
            <a class="btn btn-lg btn-primary">Login</a> <a class="btn btn-lg btn-secondary">Register</a>
        </div>
    </div>
{% endblock %}

{% block footer_js %}
    <script type="module">
        // Import the application module
        import * as GenePattern from "/static/js/app.js";

        // Display the sidebar
        GenePattern.display_sidebar();

        // Initialize the dashboard
        GenePattern.dashboard("#vue");
    </script>
{% endblock %}