{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}Dashboard{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block extra_css %}
    <style type="text/css">
        .show-all {
            line-height: 48px;
        }
    </style>
{% endblock %}

{% block body_class %}no-cover no-sidebar{% endblock %}

{% block main %}
    <div id="vue">
        <login-register title="Your Notebooks"></login-register>
        <notebook-carousel header="Tutorial Notebooks" v-bind:nblist="tutorial_notebooks"></notebook-carousel>
        <notebook-carousel header="Public Notebooks" v-bind:nblist="notebooks"></notebook-carousel>
        <notebook-carousel header="Analyses" v-bind:nblist="modules"></notebook-carousel>
        <login-register title="Shared Notebooks"></login-register>
    </div>
{% endblock %}

{% block footer_js %}
    <script type="module">
        // Import the application module
        import * as GenePattern from "/static/js/app.js";

        // Initialize the dashboard
        GenePattern.dashboard("#vue");
    </script>
{% endblock %}