{% extends "base.html" %}
{% load mezzanine_tags keyword_tags staticfiles static %}

<html>

<body>

    {% block meta_title %}Documentation{% endblock %}
    {% block title %}Documentation{% endblock %}
    {% block description %}All the GenePattern Notebook resources{% endblock %}

    {% block extra_css %}
    <link rel="stylesheet" href="{% static "css/gpnb-extension.css" %}">
    {% endblock %}

    {% block body_class %}no-cover{% endblock %}

    {% block extra_head %}
    <script src="{% static "js/gp.js" %}"></script>
    <script src="{% static "js/gp-widget.js" %}"></script>
    {% endblock %}

    
    {% block content %}
    <div class="card-columns">
        <div class="card bg-light mb-3">
            <div class="card-header">All Users</div>
            <div class="card-body">
                <p class="card-text">
                    <a href="#">Quickstart</a><br>
                    <a href="#">Basic Features</a><br>
                    <a href="#">Tutorial Videos</a><br>
                    <a href="#">Use Cases</a><br>
                    <a href="#">Formatting Features</a><br>
                    <a href="#">FAQ</a><br>
                </p>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-header">News/Releases</div>
            <div class="card-body">
                <p class="card-text">
                    <a href="#">Release Notes</a><br>
                    <a href="#">Blog</a><br>
                    <a href="#">Related Publications</a><br>
                </p>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-header">Advanced Users</div>
            <div class="card-body">
                <p class="card-text">
                    <a href="#">Programmers Guide</a><br>
                    <a href="#">Programmatic Features</a><br>
                    <a href="#">Fork us on GitHub</a><br>
                    <a href="#">Best Practices</a><br>
                    <a href="#">Python UI Builder</a><br>
                </p>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-header">Help/Contact
            </div>
            <div class="card-body">
                <p class="card-text">
                    <a href="http://software.broadinstitute.org/cancer/software/genepattern/contact">GenePattern Contact Page</a><br>
                    <a href="#">GenePattern Help Forum</a><br>
                    <a href="#">Mesirov Lab</a><br>
                </p>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-header">GenePattern Notebook Library</div>
            <div class="card-body">
                <p class="card-text">
                    <a href="#">GenePattern Notebook Library</a><br>
                    <a href="#">Available GenePattern Analyses</a><br>
                    <a href="#"></a><br>
                    <a href="#"></a><br>
                </p>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-header">Additional Information</div>
            <div class="card-body">
                <p class="card-text">
                    <a href="#">How to Cite</a><br>
                    <a href="#">Code of Conduct</a><br>
                    <a href="#">Diversity Statement</a><br>
                    <a href="#">Related Projects</a><br>
                </p>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-header">Notebook Features</div>
            <div class="card-body">
                <p class="card-text">
                    <a href="#"></a><br>
                    <a href="#"></a><br>
                    <a href="#"></a><br>
                    <a href="#"></a><br>
                </p>
            </div>
        </div>
    </div>
    {% endblock %}
    

    {% block footer_js %}
    {% endblock %}

</body>

</html>