{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags staticfiles static %}

{% block meta_title %}Notebook Library{% endblock %}
{% block title %}Notebook Library{% endblock %}

{% block body_class %}no-cover{% endblock %}

{% block library %}

{% block main-content %} 
    {% block content %} {% endblock content %} 
{% endblock main-content %}

{% block extra_css %}
<style type="text/css">
.container {
    width: 90%;
    margin: auto;
}    
@media (min-width: 576px) {
    .container {
        max-width: inherit;
    } 
}
@media (min-width: 1200px) {
    .container {
        max-width: inherit;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: inherit;
    }
}
@media (min-width: 768px)
{
    .container {
        max-width: inherit;
    }
}
@media (min-width: 576px)
{
    .container {
        max-width: inherit;
    }
}
.notebooks {
   text-align: center; 
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: rgba(51,122,183,0.95);
}
</style>
{% endblock %}

    <div class="container main-container no-negative-header">
        <div class="row">
            <div id="library">
                <div class="page-header">
                    <h1>Notebook Library</h1>
                    <input type="search" placeholder="Search Notebooks" class="form-control nb-search" v-model="search" />
                </div>
                <p>Search for a public notebook using the box in the upper right or click on one of the featured categories below.</p>
                <ul class="nav nav-pills tags">
                    <notebook-tag :tag="{'label': 'featured'}"></notebook-tag>
                    <notebook-tag :tag="{'label': 'tutorial'}"></notebook-tag>
{#                    <notebook-tag :tag="{'label': 'community'}"></notebook-tag>#}
                    <notebook-tag :tag="{'label': 'all notebooks'}"></notebook-tag>
                    <!-- <notebook-tag v-for="t in pinned" :tag="t"></notebook-tag> -->
                </ul>
                <div class="notebooks">
                    <notebook-card v-for="nb in notebooks" :nb="nb"></notebook-card>
                </div>
            </div>
        </div>
    </div>

{% block sidebar %} 
{% endblock sidebar %} 

{% block main-container %} 
{% endblock main-container %} 
{% endblock %} 

{% block footer_js %}
    <script type="module">
        // Import the application module
        import * as GenePattern from "/static/js/app.js";

        // Initialize notebook search/browse
        const library = GenePattern.library("#library");
    </script>
{% endblock %}