{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags staticfiles static %}

{% block meta_title %}Notebook Library{% endblock %}
{% block title %}Notebook Library{% endblock %}

{% block extra_css %}
    <style type="text/css">
        #library_header {
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block body_class %}no-cover{% endblock %}




{% block library %}

{% block main-content %} 
    {% block content %} {% endblock content %} 
{% endblock main-content %}

    <div class="container main-container">
        <div class="row">
            <div id="library">
                <div id="library_header">
                    <h1>Notebook Library</h1>
                    <input type="search" placeholder="Search Notebooks" class="form-control nb-search" v-model="search" />
                </div>
                <p>Search for a public notebook using the box in the upper right or click on one of the featured categories below.</p>
                <ul class="nav nav-tabs tags">
                    <notebook-tag :tag="{'label': 'all notebooks'}"></notebook-tag>
                    <notebook-tag v-for="t in pinned" :tag="t"></notebook-tag>
                </ul>
                <div class="notebooks">
                    <notebook-card v-for="nb in notebooks" :nb="nb"></notebook-card>
                </div>
            </div>
        </div>
    </div>

{% block sidebar %} 
{% endblock sidebar %} 

{% block main-container %} 
{% endblock main-container %} 
{% endblock %} 

{% block footer_js %}
    <script type="module">
        // Import the application module
        import * as GenePattern from "/static/js/app.js";

        // Initialize notebook search/browse
        const library = GenePattern.library("#library");
    </script>
{% endblock %}