{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block description %}
{% editable page.description %}{{ page.description }}{% endeditable %}
{% endblock %}

<!-- Display alerts -->
{% block alerts %}
{% nevercache %}
<div id="messages" class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endnevercache %}
{% endblock %}

{% block side %}
{% endblock %}

{% block main %}
{% endblock %}

{% block footer_js %}
{% endblock %}

