{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags staticfiles static %}

<html>
<body>

{% block meta_title %}Quickstart{% endblock %}
{% block title %}Quickstart Tutorial{% endblock %}
{% block description %}10-minute tutorial on GenePattern Notebook{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/gpnb-extension.css" %}">
{% endblock %}

{% block body_class %}no-cover{% endblock %}

{% block extra_head %}
<script src="{% static "js/gp.js" %}"></script>
<script src="{% static "js/gp-widget.js" %}"></script>
{% endblock %}


{% block side %}
{% endblock %}

{% block main %}
{% endblock %}

{% block footer_js %}
{% endblock %}

</body>
</html>