{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags staticfiles static %}

{% block meta_title %}Notebook Workspace{% endblock %}
{% block title %}Notebook Workspace{% endblock %}

{% block extra_css %}
    <style type="text/css">
        #workspace {
            width: 100%;
        }
    </style>
{% endblock %}

{% block body_class %}no-cover{% endblock %}

{% block main %}
{% endblock %}

{% block main-content %}
    {% block content %} {% endblock content %}
{% endblock main-content %}

{% block main-container %}
{% endblock main-container %}

{% block library %}
    <div class="container main-container no-negative-header">
        <div class="row">
            <div id="workspace">
                <div class="page-header">
                    <h1>Notebook Workspace</h1>
                    <input type="search" placeholder="Search Projects" class="form-control nb-search" v-model="search" />
                </div>
                <p>Search or browse your private notebooks and associated files below.</p>
                <div class="workspace">
                    <workspace-notebook v-for="nb in workspace" :nb="nb"></workspace-notebook>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_js %}
    <script type="module">
        // Import the application module
        import * as GenePattern from "/static/js/app.js";

        // Initialize notebook search/browse
        const workspace = GenePattern.workspace("#workspace");
    </script>
{% endblock %}