@import url('https://fonts.googleapis.com/css?family=Oswald|PT+Sans');

html {
    height: 100%;
    color: #525252;
}

body {
    font-family: sans-serif;
    background-image: url(/static/images/banner-grayscale3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    min-height: calc(100% - 100px);
    font-weight: 100;
    color: #525252;
    margin: auto;
}

.main-container {
    width: 90%;

}

p, a {
    font-size: 0.9em;
}

a:hover {
    text-decoration: none;
}

.lead-cover a:hover {
    color: #ed1c24;
    opacity: 0.9;
}

header, footer {
    background: rgba(35, 56, 96, 0.9) none;
    border: none;
    color: #525252;
}

footer {
    color: white;
}

header a,
footer a,
header a:hover,
footer a:hover {
    color: white;
}

/* h1, h2, h3, h4, h5, h6, h7, h8 {
    font-family: 'Oswald', sans-serif;
} */

footer {
    position: absolute;
    bottom: -100px;
    right: 0;
    left: 0;
}

header {
    height: auto;
    background: transparent;
    line-height: 100px;
}

header .dropdown-menu {
    line-height: initial;
}

header .navbar-dark .navbar-nav .nav-link {
    color: #525252;
}

.navbar-nav {
    padding-top: 20px;
    margin: auto;
    padding-left: 250px; 
}

.navbar-nav li a {
    font-size: 1.1vw
}

.navbar-brand {
    font-size: 2em;
    letter-spacing: 0px;
    font-weight: 600;
    color:#525252;
    padding: 0;
}

.navbar-brand img {
    width: 300px;
    height: 35px;
}

header.shrink {
    padding: 0;
    margin: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    background: rgba(35, 56, 96, 0.8) none;
    line-height: 35px;
}

header.shrink .navbar-brand > img {
    padding: 0px;
    margin: 0 auto;
    transition: all 1s;
    -webkit-transition: all 1s;
}

header.shrink .navbar-nav .nav-link {
    color: white;
}

header.shrink .navbar-nav {
    padding-top: 20px;
    padding-bottom: -30px;
}



.navbar-dark .navbar-brand {
    color:white;
}

.navbar-brand:hover {
    color:#525252;
}

.notebook-brand {
    color:rgb(150, 148, 148);
}


.btn {
    background: #FEFEFE;
    border: none;
    color: #555599;
    border-radius: 100px;
}

.btn:hover {
    background: #ed1c24
}

.main-container {
    background: white;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.28);
    padding: 30px;
    border-radius: 25px;
    margin-bottom: 100px;
}

.container {
    margin: 0 auto;
}

#three-boxes .info-block {
    height: 260px;
}

.hide {
    opacity: 0;
}

.hide:hover {
    opacity: 1;
}

#top-nav {
    padding-left: 0;
    padding: 0px;
}

.lead-default {
    margin-top: 100px;
}

.lead-cover {
    height: 50vh;
}

.lead-cover .col-md-6 {
    padding-top: 18vh;
    display: table-cell;
    vertical-align: middle;
}

.lead-cover h1,
.lead-cover h2,
.lead-cover h3 {
    color: #525252;
}

.lead-cover a {
    color: #525252;
}

.lead-cover h1 {
    font-size: 2em;
}

.lead-cover h2 {
    font-size: 3em;
}

.lead-cover h3 {
    font-size: 1.25em;
    font-weight: 100;
}

.index-logo {
    height: 1.5em;
}

h1.lead-big {
    font-size: 3em;
}

.gray {
    color: lightgray;
}

.index-row-middle {
    margin-bottom: 40px;
    margin-top: 50px;
}

.index-row-bottom {
    margin-bottom: 100px;
}


.registration-main {
    padding: 50px;
}

.info-block {
    background: white;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.28);
    padding: 30px;
    border-radius: 5px;
}

.info-block h3 {
    font-size: 1.5em;
    font-weight: 100;
}

.info-block p {
    font-size: 0.9em;
    font-weight: 100;
}

.info-block img {
    height: 50px;
    width: 150px;
    margin-right: 20px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 0;
}

.info-block ul li a {
    font-size: 0.9em;
}

.more-info {
    width: 100%;
    text-align: center;
}

.more-info > a {
    width: 50%;
    position: relative;
    top: -20px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.28);
}

/* DASHBOARD */

body.no-cover div.lead-cover {
    height: 100px;
}

body.no-cover div.lead-cover > div {
    display: none;
}

.nb-carousel .spinner-border {
    margin-top: 81px;
    height: 50px;
    width: 50px;
    opacity: 0.7;
}

.nb-carousel-slider {
    position: relative;
    text-align: center;
    min-height: 212px;
}

.nb-carousel-slider > .nb-carousel-button:first-child {
    position: absolute;
    left: 0;
}

.nb-carousel-slider > .nb-carousel-button:last-child {
    position: absolute;
    right: 0;
}

.nb-carousel-button {
    background: transparent;
    border: none;
    padding: 0;
    height: 212px;
    opacity: 0.7;
    cursor: pointer;
}

.nb-carousel-button:hover {
    opacity: 1;
}

div.login-card {
    height: 200px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

div.login-card > a.btn {
    width: 200px;
    vertical-align: middle;
    color: white;
    margin-top: 75px;
}

div.login-card > a.btn:hover {
    color: white;
}

div.nb-card {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    height: 212px;
    margin-bottom: 10px;
    margin-right: 5px;
    text-align: left;
    cursor: pointer;
}

.nb-card > .card-img-top {
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.nb-card > .card-body > .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 190px;
    display: block;
}

.nb-card > .card-body {
    padding: 5px;
}

.nb-card > .card-body > .card-text {
    font-size: 0.8em;
    line-height: 1.2em;
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 5em;
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;
}

/* create the ... */
.nb-card > .card-body > .card-text:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 15px;
    bottom: 2px;
}

/* hide ... if we have text, which is less than or equal to max lines */
.nb-card > .card-body > .card-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 15px;
    /* set width and height */
    width: 10px;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
}

.sidebar[style*="block"] + .main-container {
    margin-left: 180px
}

.sidebar {
    background: white;
    width: 150px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    position: fixed;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.28);
    padding: 10px;
}

.sidebar-link {
    display: block;
    color: #525252;
    margin-bottom: 10px;
}

.sidebar-icon {
    font-size: 3em;
    width: 100%;
    text-align: center;
}

.sidebar-title {
    text-align: center;
}

.mod-search {
    width: 33%;
    right: 25px;
    position: absolute;
    top: 10px;
}

.mod-card {
    width: calc(33% - 10px);
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    float: left;
}

.mod-card.module {
    height: 100px;
}

.mod-card.category {
    height: 48px;
}

.mod-card > .card-body {
    padding: 10px;
}

.mod-card:hover {
    background: #FEFEFE;
    border-color: #555599;
}

.mod-card > .card-body > .card-text {
    font-size: 0.8em;
    line-height: 16px;
    max-height: 48px;
    overflow: hidden;
}

.login-register .btn {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .navbar-nav {
        padding-left: 150px; 
    }
}

