{% load pages_tags mezzanine_tags i18n staticfiles static %}

<footer>
    <div class="row" style="width: 90%; margin: auto; max-width: 1200px;">
        <div class="col-md-9 text-left">
            <div class="row" style="font-size: 10px;">
                <div class="col-md-4" style="padding: 0px; border-right: 0.5px solid rgba(255,255,255,0.2); padding-left: 30px; padding-right: 30px;">
                    <h5>User Guides</h5>
                    <ul class="list-styled">
                        <li><a href="/quickstart/">Quickstart</a></li>
                        <li><a href="/basic-features/">Basic Features</a></li>
                        <li><a href="/publish-and-sharing/">Publish and Share Notebooks</a></li>
                        <li><a href="/tutorial-videos/">Tutorial Videos</a></li>
                        <li><a href="/best-practices/">Best Practices</a></li>
                        <li><a href="/cheat-sheet/">Cheat Sheet</a></li>
                    </ul>
                    <h5>Advanced Users</h5>
                        <ul class="list-styled">
                            <li><a target="_blank" href="https://github.com/genepattern?q=notebook">Fork us on GitHub</a></li>
                            <li><a href="/docs/">Documentation</a></li>
                            <li><a target="_blank" href="https://gpnotebook-website-docs.readthedocs.io/en/latest/programmatic/">Programmatic Features</a></li>
                            <li><a href="/programmatic-details">Packages, Kernels, and Extensions</a></li>
                            <li><a href="/genepattern-notebook-integration-guide/">Integration Guide</a></li>
                        </ul>
                </div>
                <div class="col-md-4" style="padding: 0px; border-right: 0.5px solid rgba(255,255,255,0.2); padding-left: 30px; padding-right: 30px;">
                    <h5>Genomic Analyses and Workflows</h5>
                    <ul class="list-styled">
                        <!-- <li><a href="/analyses/">Available GenePattern Analyses</a></li> -->
                        <li><a href="/library/">Notebook Library</a></li>
                        <li><a href="/single-cell/">Single-cell Analysis Notebooks</a></li>
                        <!-- <li><a href="/rna-seq/">RNA-seq Analysis Notebooks</a></li> -->
                    </ul>
                    <h5>Additional Information</h5>
                    <ul class="list-styled">
                        <li><a href="/related-projects/">Related Projects</a></li>
                        <li><a href="/publications/">Highlighted Publications</a></li>
                        <li><a href="/about/">About Us</a></li>
                        <li><a href="/external-tools">External Tools</a></li>
                    </ul>
                </div>
                <div class="col-md-4" style="padding: 0px; padding-left: 30px; padding-right: 30px;">
                    <h5>News/Releases</h5>
                    <ul class="list-styled">
                        <li><a href="/new-features/">New Features</a></li>
                        <li><a target="_blank" href="https://gpnotebook-website-docs.readthedocs.io/en/latest/releases/">Release Notes</a></li>
                        <li><a href="/blog/">Blog</a></li>
                    </ul>
                    <h5>Help/Contact</h5>
                    <ul class="list-styled">
                        <li><a href="/contact/">Contact Us</a></li>
                        <li><a target="_blank" href="https://gpnotebook-website-docs.readthedocs.io/en/latest/faq/">FAQ</a></li>
                        <li class="reveal-on-hover"><a target="_blank" href="/admin/">Login</a></li>
                        <br>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <p style="font-size: 14px;">Follow us on:</p>
            <a target="_blank" href="https://www.facebook.com/pages/GenePattern/159999027359395"><i class="fab fa-facebook-f" style="font-size: 25px;"> </i></a>
            <a target="_blank" href="http://twitter.com/GenePattern"><i class="fab fa-twitter" style="font-size: 25px;"> </i></a>
            <!-- <a target="_blank" href="https://www.instagram.com/genepattern/?hl=en"><i class="fab fa-instagram" style="font-size: 25px;"> </i></a> -->
            <a target="_blank" href="https://github.com/genepattern?q=notebook"><i class="fab fa-github" style="font-size: 25px;"> </i></a>
            <span class="hide"><a href="/admin/">Admin</a></span>

            <div style="padding-top: 20px;">
                <p style="font-size: 14px;">GenePattern Notebook usage is free and the software is open source under a <b><a target="_blank" href="https://github.com/genepattern/genepattern-server/blob/develop/LICENSE.txt">BSD-style license</a></b>.</p>
                
                <p style="font-size: 14px;"> The GenePattern Notebook Workspace is not intended for use with Protected Health Information (PHI). If you want to perform analyses with PHI data, please see our <a href="https://gpnotebook-website-docs.readthedocs.io/en/latest/local-installation/" target="_blank"><b>instructions for running a private GenePattern Notebook instance.</b></a></p>
           
                <p style="font-size: 14px;">© <script type="application/javascript">document.write(new Date().getFullYear());</script> Regents of the University of California and the Broad Institute.</p>
            </div>
            
        </div>
    </div>
</footer>
