{% load pages_tags mezzanine_tags i18n staticfiles static %}

<footer>
    <div class="row">
        <div class="col-md-9 text-left">
            <div class="row" style="font-size: 13px;">
                <div class="col-md-4" style="padding: 0px; border-right: 0.5px solid rgba(255,255,255,0.2); padding-left: 30px; padding-right: 30px;">
                    <h5>User Guide</h5>
                    <ul class="list-styled">
                        <li><a href="/quickstart/">Quickstart</a></li>
                        <li><a href="/basic-features/">Basic Features</a></li>
                        <li><a href="/publish-and-sharing/">Publish and Share Notebooks</a></li>
                        <li><a href="/tutorial-videos/">Tutorial Videos</a></li>
                        <li><a href="/best-practices/">Best Practices</a></li>
                        <li><a href="/cheat-sheet/">Cheat Sheet</a></li>
                    </ul>
                    <h5>Advanced Users</h5>
                        <ul class="list-styled">
                            <li><a target="_blank" href="https://github.com/genepattern?q=notebook">Fork us on GitHub</a></li>
                            <li><a target="_blank" href="https://gpnotebook-website-docs.readthedocs.io/en/latest">Documentation</a></li>
                            <li><a target="_blank" href="https://gpnotebook-website-docs.readthedocs.io/en/latest/programmatic/">Programmatic Features</a></li>
                            <li><a href="/programmatic-details">Programmatic Details</a></li>
                        </ul>
                </div>
                <div class="col-md-4" style="padding: 0px; border-right: 0.5px solid rgba(255,255,255,0.2); padding-left: 30px; padding-right: 30px;">
                    <h5>Genomic Analyses and Workflows</h5>
                    <ul class="list-styled">
                        <li><a href="/analyses/">Available GenePattern Analyses</a></li>
                        <li><a href="/library/">Library of Public GenePattern Notebooks</a></li>
                        <li>Featured Notebook Collections</li>
                        <ul>
                            <li><a href="/single-cell/">Single-cell Analysis</a></li>
                            <li><a href="/rna-seq/">RNA-seq</a></li>
                        </ul>
                    </ul>
                    <h5>Additional Information</h5>
                    <ul class="list-styled">
                        <li><a href="/related-projects/">Related Projects</a></li>
                        <li><a href="/publications/">Related Publications</a></li>
                    </ul>
                </div>
                <div class="col-md-4" style="padding: 0px; padding-left: 30px; padding-right: 30px;">
                    <h5>News/Releases</h5>
                    <ul class="list-styled">
                        <li><a href="/new-features/">New Features</a></li>
                        <li><a target="_blank" href="https://gpnotebook-website-docs.readthedocs.io/en/latest/releases/">Release Notes</a></li>
                        <li><a href="/blog/">Blog</a></li>
                    </ul>
                    <h5>Help/Contact</h5>
                    <ul class="list-styled">
                        <li><a href="/contact/">Contact Us</a></li>
                        <li><a target="_blank" href="https://gpnotebook-website-docs.readthedocs.io/en/latest/faq/">FAQ</a></li>
                        <li><a target="_blank" href="http://mesirovlab.org">Mesirov Lab</a></li>
                        <br>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <p>Follow us on:</p>
            <a target="_blank" href="https://www.facebook.com/pages/GenePattern/159999027359395"><i class="fab fa-facebook-f" style="font-size: 25px;"> </i></a>
            <a target="_blank" href="http://twitter.com/GenePattern"><i class="fab fa-twitter" style="font-size: 25px;"> </i></a>
            <!-- <a target="_blank" href="https://www.instagram.com/genepattern/?hl=en"><i class="fab fa-instagram" style="font-size: 25px;"> </i></a> -->
            <a target="_blank" href="https://github.com/genepattern?q=notebook"><i class="fab fa-github" style="font-size: 25px;"> </i></a>
            <span class="hide"><a href="/admin/">Admin</a></span>

            <div style="padding-top: 150px;">
                © <script type="application/javascript">document.write(new Date().getFullYear());</script> Regents of the University of California and the Broad Institute.
            </div>
            
        </div>
    </div>
</footer>