{% load pages_tags mezzanine_tags i18n staticfiles static %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <a href="/about/">About GenePattern</a>
                | <a href="/contact/">Contact Us</a>
                | <a href="https://www.facebook.com/pages/GenePattern/159999027359395"><i class="fab fa-facebook-f"></i></a>
                | <a href="http://twitter.com/GenePattern"><i class="fab fa-twitter"></i></a>
                | <a href="https://www.instagram.com/genepattern/?hl=en"><i class="fab fa-instagram"></i></a>
                <span class="hide"> | <a href="/admin/">Admin</a></span>
            </div>
            <div class="col-md-6 text-right">
                © <script type="application/javascript">document.write(new Date().getFullYear());</script> Regents of the University of California and the Broad Institute.
            </div>
        </div>
    </div>
</footer>